<footer>
  <div class="footer-content">

    <div>
      <img src="/assets/logos/gypsy-cartel-icon.webp" style="width:30px;">
      <p>
       Gypsy Cartel is a multidisciplinary digital studio
delivering custom software and design solutions.
From Windows applications and websites to architecture, interiors,
visualization, graphics, and digital media—focused on clarity and quality.
      </p>
    </div>

    <div>
      <h4>Services</h4>
      <ul>
        <li><a href="/gallery/">Gallery</a></li>
        <li><a href="/apps/">Apps Development</a></li>
        <li><a href="/design/">Design Studio</a></li>
        <li><a href="/fashion/">Fashion Line (Soon)</a></li>
      </ul>
    </div>

    <div>
      <h4>Company</h4>
      <ul>
        <li><a href="/about/">Our Vision & History</a></li>
        <li><a href="/contact/">Contact Support</a></li>
        <li><a href="/privacy/">Privacy Policy</a></li>
        <li><a href="/terms/">Terms of Service</a></li>
      </ul>
    </div>

    <div>
      <h4>Connect</h4>
      <p>
        Support:
        <a href="mailto:support@gypsycartel.shop">
          support@gypsycartel.shop
        </a>
      </p>
      <p>
        Creator:
        <a href="https://instagram.com/mallugypsy.creations" target="_blank">
          @mallugypsy.creations
        </a>
      </p>
    </div>

  </div>

  <div class="footer-bottom">
    © <span id="year"></span> Gypsy Cartel. All Rights Reserved.
  </div>
</footer>
